{% extends "store/base2.html" %}
{% block content %}
<div class="container p-5 card">
    <div class="card-header bg-dark ">
      
  
        <div class="h4 pb-2 mb-2 text-light text-center  my-3">LOGIN</div>
          </div>
    <form action="" method="post">
        {%csrf_token%}
        <div class="form-floating pt-2">
        {{form.username}}
        <label for="floatingInput">Username:</label>
    </div>
    <div class="form-floating pt-2">
        {{form.password}}
        <label for="PasswordInput">Password:</label>
    </div>
    <br>
       <center> <button type="submit" class="btn btn-dark">log</button> &nbsp;&nbsp;<a href="{% url "register" %}" class="btn btn-outline-dark">Dont Have Acc</a>
    </center>
    </form>
</div>
{%endblock%}